<footer class="footer page-footer font-small bg-success text-white pt-4">
    <div class="container text-center">
        <div class="row">
            <!-- column1 -->
            <div class="col-md-4 mt-md-0 mt-3">
                <img src="images/logo_white.png">
            </div>

            <!-- column2 -->
            <div class="col-md-4 mb-md-0 mb-3">
                <a class="text-white " href="meals">
                    <h5>Menu Packages</h5>
                </a>
                <ul class="list-unstyled">
                    <li>Keto</li>
                    <li>Paleo</li>
                    <li>Mediterranean</li>
                    <li>Vegan</li>
                    <li>One Week Detox</li>
                    <li>Soup</li>
                </ul>
            </div>
            <!-- column3 -->
            <div class="col-md-4 mb-md-0 mb-3">
                <ul class="list-unstyled">
                    <li>
                        <a class="text-white btn m-0 p-0" data-toggle="modal" data-target="#register">
                            <h5>Login/Registration</h5>
                        </a>
                    </li>
                    <li>
                        <div>
                            <a class="text-white" href="#"><i class="fa fa-facebook-official"></i></a>
                            <a class="text-white" href="#"><i class="fa fa-instagram"></i></a>
                            <a class="text-white" href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class=" bg-white text-dark footer-copyright text-center">
        <p>© 2020 Pedro do Carmo</p>
        <a href="https://medium.com/@pedroteixeira88/creating-a-meal-delivery-website-part-1-206679b8d36b"> Website
            Report</a>
    </div>
</footer>