<header>
    <!-- NAV -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src="images/small/logo.png"></a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="meals">Meals Package </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn" data-toggle="modal" data-target="#register">Registration
                    / Login</a>
            </li>

        </ul>
    </nav>
    <!--Form-->
    {{>LRModal}}


</header>