<header>
    <!-- NAV -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src="/images/small/logo.png"></a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/meals">Meal Packages </a>
            </li>
        </ul>

        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item mr-2">
                <form action="/logout" method="POST">
                    <button type="submit" class="btn btn-dark">Log Out </button>
                </form>
            </li>

            <li class="nav-item">
                <a class="nav-link" href='/dashboard/user/{{user.fname}}'><i class="fa fa-user"></i>
                    Hi, {{user.fname}} {{user.lname}} </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/checkout"> <i class="fa fa-shopping-cart"> {{user.cartData.counter}}</i> </a>
            </li>
        </ul>
    </nav>


</header>