<div class="container text-center">
    <div class=" btn-group btn-group-sm text-center border border-secondary rounded" role="group">

        <button id="infoButton" class=" btn btn-success text-white " onclick="showInfo()">My info</button>
        <a href="/checkout" class=" btn btn-success text-white ">My Order</a>
        {{#if user.clerk}}
        <button id="addButton" class="  btn btn-success text-white" onclick="showCreate()">New Package
        </button>

        <button id="editButton" class="  btn  btn-success text-white" onclick="showEdit()">Edit
            Package
        </button>
        {{/if}}
    </div>
</div>