<div class="container border border-secondary rounded">
    <nav class=" navbar ">

        <button id="infoButton" class=" mx-auto btn btn-success text-white " onclick="showInfo()">My info</button>
        <a href="/checkout" class=" mx-auto btn btn-success text-white ">My Order</a>
        {{#if user.clerk}}
        <button id="addButton" class=" mx-auto btn btn-success text-white" onclick="showCreate()">New Package
        </button>

        <button id="editButton" class=" mx-auto btn btn-success text-white" onclick="showEdit()">Edit
            Package
        </button>
        {{/if}}
    </nav>
</div>