{{>header}}
<style>
    .div-img {
        width: 100%;
        height: 170px;

    }

    .img-gal {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .btn-xl {
        padding: 18px 28px;
        font-size: 35px;
        line-height: normal;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }

    .img-hero {
        width: 100%;
        height: 100vh;
        background-image: url(https://images.unsplash.com/photo-1494859802809-d069c3b71a8a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3150&q=80);
        background-size: cover;
    }
</style>
<div class="jumbotron img-hero">
    <div>
        <h1 class="display-1">BETTER MEALS</h1>
        <p class="lead mb-5">No matter what is your favourite diet we have perfect balanced meal package for you! </p>
        <a class="btn btn-success btn-xl text-white" data-toggle="modal" data-target="#register">Get Your Meals</a>
    </div>
</div>
<div class="container py-5 text-center">
    <h2>One click away from your balanced diet</h2>
    <h4 class="mb-5">Receive your meals for 7 days</h4>
    <div class="row">
        <div class="col-md-3 text-center">
            <img class="img-fluid" alt="type of diet" src="images/small/salad.png">
            <h5 class="text-center">Choose your type of diet
                </h4>
                <p>Keto, Paleo, Plant-Based, Vegan...</p>
        </div>

        <div class="col-md-3 text-center">
            <img class="img-fluid text-center" alt="Get your meals" src="images/small/delivery-man.png">
            <h5>Get your meals</h4>
                <p>Pick the date and hour to receive your meals package</p>
        </div>
        <div class="col-md-3 text-center">
            <img class="img-fluid" alt="warm it up and eat" src="images/small/microwave.png">
            <h5>Warm it up and eat!</h4>
                <p>All your meals can be warmed up in the microwave or in a pot</p>
        </div>
        <div class="col-md-3 text-center">
            <img class="img-fluid" alt="order again" src="images/small/app.png">
            <h5>Order again!</h4>
                <p>Repeat the same diet or change it.</p>
        </div>
    </div>
</div>
<div class="bg-light">
    <div class="container py-5 text-center">
        <h2 class="mb-5">Find your perfect meal plan</h2>
        <div class="row h-25">
            {{#each data}}
            {{#if top}}
            <div class="col-md-3 ">
                <div class="div-img mt-3"> <img class="img-gal border border-success rounded-top" src="{{this.image}}">
                </div>
                <div class="bg-success rounded-bottom text-white">
                    <h5 class="text-center py-1 m-0">{{this.mealTitle}}</h5>
                    <hr class="m-0">
                    <h5 class="text-center py-1 m-0">{{this.price}}</h5>
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>
{{>footer}}